<div id="slider" ng-if="slider_images && slider_images.length != 0">
	<ul class="bxslider">
		<li ng-repeat="image in slider_images" on-finish-render="ngRepeatFinished" ng-click="popup_slide($index)"><a href=""><img ng-src="{{filesHost + image}}" alt="" /></a></li>
	</ul>
</div>

<div style="display: none;">
	<div class="box-modal" id="arcticmodal-company">
		<div class="box-modal_close arcticmodal-close">&times;</div>
		<div class="list-content">
			<div class="item">
				<img ng-src="{{filesHost + slider_images[slide_index]}}" alt="" />
			</div>
			<div class="controls">
				<span class="prev" ng-click="prev_slide()"></span>
				<span class="next" ng-click="next_slide()"></span>
			</div>
		</div>
	</div>
</div>