<div class="clearfix"></div>
					<div id="lenta" class="views-info views-blog" infinite-scroll="infiniteScroll.append_data()" infinite-scroll-disabled="infiniteScroll.disabled" infinite-scroll-distance="0">
						<article class="view-item" ng-repeat="elem in blog" on-finish-render="fixImgHW">
							<figure class="left" ng-if="elem.img">
								<img ng-src="{{filesHost + elem.img}}" alt="" />
							</figure>
							<div>
								<div class="author disinbl m" ng-if="elem.author"><a href="" ui-sref="main.users.profile({id:elem.author.id})">{{elem.author.name}}</a></div>
								<div class="date disinbl">{{elem.date}}</div>
								<div class="favor" ng-class="{active: elem.isFavorite}" ng-click="toggleFavorites(elem, 'blog')"><span>{{translate(!elem.isFavorite ? 'Добавить в избранное' : 'Удалить из избранного')}}</span></div>
								<h1 class="title"><a href="" ui-sref="main.blog.detailed({id: elem.id})">{{elem.title}}</a></h1>
								<p>{{elem.text}}</p>
								<div class="meta-info left-side">
									<div class="like"><span class="minus" ng-click="dislike(elem, 'blog')">&ndash;</span><span>{{transform_if_gt999(elem.upvotes - elem.downvotes)}}</span><span class="plus" ng-click="like(elem, 'blog')">+</span></div>
									<div class="look"><span>{{transform_if_gt999(elem.hits)}}</span></div>
									<div class="comment"><span>{{transform_if_gt999(elem.replies)}}</span></div>
								</div>
							</div>
							<div class="tags clear">
								<a href="" ng-repeat="cat in elem.cats" ui-sref="main.blog.latest({cat_name:cat.name})">{{cat.name}}</a>
							</div>
						</article>
					</div>
<h4 class="c" ng-if="!blog.length">{{translate('Пользователь еще ничего не опубликовал')}}</h4>