$white: #ffffff;

// $lighter_gray: #d0d0d0;
$light_gray: #a4a4a4;
$gray: #333333;
// $dark_gray: #6c6c6c;
// $darker_gray: #4b4b4b;

// $black: #000000;

$darker_blue: #004070;
$dark_blue: #005ca1;
$bright_blue: #009fe2;
$light_blue: #317dd3;

// $link: #0090c4;
