// brand colors
$brand_color:#0360a4;
$brand_color_2:#a70007;

//text colors
$text: #000000;
$link_color: $brand_color_2;
$link_hover_color:$link_color;
$head_color: #000000;

// background colors
$bg_color:$brand_color;

// border colors
$border_color:#f3f3f3;

// btn colors
$btn_color:#fff;
$btn_bg_color:$bg_color;
$btn_border_color:$bg_color;

$btn_hover_color:#fff;
$btn_hover_bg_color:$bg_color;
$btn_hover_border_color:$bg_color;

$btn_active_color:#fff;
$btn_active_bg_color:$bg_color;
$btn_active_border_color:$bg_color;