<nav>
	<div class="nav nav-table">
		<ul class="distabrow">
			<li ui-sref-active="active"><a href="" ui-sref="main.home.activity">{{translate('Вся активность')}}</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="main.home.news">{{translate('Новости')}}</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="main.home.ads">{{translate('Объявления')}}</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="main.home.congrats">{{translate('Поздравления')}} </a></li>
			<li ui-sref-active="active"><a href="" ui-sref="main.home.blog">{{translate('Статьи')}}</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="main.home.media">{{translate('Медиа')}}</a></li>
		</ul>
	</div>
</nav>