// brand colors
$brand_color:#f65e1f;
$brand_color_light:#fff000;

//text colors
$text: #000000;
$link_color: #0078ff;
$link_hover_color: #ff5f16;
$head_color: #ffffff;

// background colors
$bg_color: $brand_color;

// border colors
$border_color: $brand_color;

// btn colors
$btn_color: #fff;
$btn_bg_color: #ff5f16;
$btn_border_color: #ff5f16;

$btn_hover_color: #fff;
$btn_hover_bg_color: $bg_color;
$btn_hover_border_color: $border_color;

$btn_active_color: #fff;
$btn_active_bg_color: $bg_color;
$btn_active_border_color: $border_color;